:root {
  /* Fonts */
  --main-font: "Noto Sans", sans-serif;
  /* Colors */
  --main-bg-light: #ffffff;
  --main-bg-accent: #f6f6f6;
  --main-dark-font: #070707;
  --main-gray-font: #828282;
  --main-light-font: #ffffff;
  --stars: #e5e5e5;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  color: var(--main-dark-font);
}

a {
  display: block;
  text-decoration: none;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--main-bg-light);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.235;
  text-align: center;
}

.lang__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.lang__item {
  padding-right: 5px;
  padding-left: 5px;
}

.lang__item:first-child {
  border-right: 1px solid var(--main-dark-font);
}

.lang__link {
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-gray-font);
}

.lang__link--current {
  color: var(--main-dark-font);
}

.header {
  border-bottom: 1px solid var(--main-gray-font);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 700;
  color: var(--main-gray-font);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.nav__link--current {
  color: var(--main-dark-font);
}

.nav__link:hover, .nav__link:focus {
  color: var(--main-dark-font);
}

.hero {
  padding-top: 65px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero .lang {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero .lang {
    display: block;
  }
  .hero .burger {
    display: none;
  }
}

.wrapper {
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .wrapper__box {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper__box .hero-title {
  margin-bottom: 23px;
  font-size: 47px;
  line-height: 1.234;
}

@media screen and (min-width: 768px) {
  .wrapper__box .hero-title {
    width: 130px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about {
  background-color: var(--main-bg-accent);
}

.about .section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about .section-title {
    margin-bottom: 20px;
  }
}

.about-box {
  margin-right: auto;
  margin-left: auto;
  width: 316px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-box {
    width: 500px;
  }
}

.about-box__desc + .about-box__desc {
  margin-top: 30px;
}

.skills .section-title {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .skills {
    margin-bottom: 70px;
  }
}

.skills__desc {
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .skills__desc {
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 768px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .skills__item:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .skills__item {
    width: 168px;
  }
}

.skills__icon {
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}

.skills__title {
  width: 90px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: var(--main-gray-font);
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__icon {
  width: 26px;
  height: 26px;
  fill: var(--stars);
}

.stars__icon--current {
  fill: var(--main-dark-font);
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */