:root {
  /* Fonts */
  --main-font: "Noto Sans", sans-serif;
  /* Colors */
  --main-bg-light: #ffffff;
  --main-bg-accent: #f6f6f6;
  --main-dark-font: #070707;
  --main-gray-font: #828282;
  --main-light-font: #ffffff;
  --stars: #e5e5e5;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  color: var(--main-dark-font);
}

a {
  display: block;
  text-decoration: none;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--main-bg-light);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.235;
  text-align: center;
}

.lang__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.lang__item {
  padding-right: 5px;
  padding-left: 5px;
}

.lang__item:first-child {
  border-right: 1px solid var(--main-dark-font);
}

.lang__link {
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-gray-font);
}

.lang__link--current {
  color: var(--main-dark-font);
}

.btn-toggle {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 33px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.btn-toggle:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.btn-toggle:focus,
.btn-toggle:hover .line:after {
  background-color: #070707;
}

@media screen and (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
}

.line {
  display: block;
  width: 33px;
  padding: 2.0625px;
}

.line:after {
  content: "";
  display: block;
  width: 100%;
  height: 4.125px;
  background-color: #828282;
  border-radius: 2px;
  -webkit-transform: translateZ(0) rotate(0);
          transform: translateZ(0) rotate(0);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.open .line:nth-child(1) {
  -webkit-animation: jump-1 0.9s forwards ease;
          animation: jump-1 0.9s forwards ease;
}

.open .line:nth-child(1):after {
  -webkit-animation: line-1 0.9s forwards ease-in-out;
          animation: line-1 0.9s forwards ease-in-out;
}

.open .line:nth-child(2) {
  -webkit-animation: jump-2 0.9s forwards ease;
          animation: jump-2 0.9s forwards ease;
}

.open .line:nth-child(2):after {
  -webkit-animation: line-2 0.9s forwards ease-in-out;
          animation: line-2 0.9s forwards ease-in-out;
}

.close .line:nth-child(1) {
  animation: jump-1 0.9s reverse ease;
}

.close .line:nth-child(1):after {
  animation: line-1 0.9s reverse ease-in-out;
}

.close .line:nth-child(2) {
  animation: jump-2 0.9s reverse ease;
}

.close .line:nth-child(2):after {
  animation: line-2 0.9s reverse ease-in-out;
}

.open .line:nth-child(3),
.close .line:nth-child(3) {
  -webkit-animation: jump-3 0.9s forwards ease-out;
          animation: jump-3 0.9s forwards ease-out;
}

@-webkit-keyframes line-1 {
  10% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
  }
  80% {
    -webkit-transform: translateZ(0) rotate(395deg);
            transform: translateZ(0) rotate(395deg);
  }
  90%,
  100% {
    -webkit-transform: translateZ(0) rotate(405deg);
            transform: translateZ(0) rotate(405deg);
  }
}

@keyframes line-1 {
  10% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
  }
  80% {
    -webkit-transform: translateZ(0) rotate(395deg);
            transform: translateZ(0) rotate(395deg);
  }
  90%,
  100% {
    -webkit-transform: translateZ(0) rotate(405deg);
            transform: translateZ(0) rotate(405deg);
  }
}

@-webkit-keyframes line-2 {
  10% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
  }
  20% {
    -webkit-transform: translateZ(0) rotate(10deg);
            transform: translateZ(0) rotate(10deg);
  }
  90%,
  100% {
    -webkit-transform: translateZ(0) rotate(-405deg);
            transform: translateZ(0) rotate(-405deg);
  }
}

@keyframes line-2 {
  10% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
  }
  20% {
    -webkit-transform: translateZ(0) rotate(10deg);
            transform: translateZ(0) rotate(10deg);
  }
  90%,
  100% {
    -webkit-transform: translateZ(0) rotate(-405deg);
            transform: translateZ(0) rotate(-405deg);
  }
}

@-webkit-keyframes jump-1 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-49.5px);
            transform: translateY(-49.5px);
  }
  90%,
  100% {
    -webkit-transform: translateY(-4.125px);
            transform: translateY(-4.125px);
  }
}

@keyframes jump-1 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-49.5px);
            transform: translateY(-49.5px);
  }
  90%,
  100% {
    -webkit-transform: translateY(-4.125px);
            transform: translateY(-4.125px);
  }
}

@-webkit-keyframes jump-2 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-41.25px);
            transform: translateY(-41.25px);
  }
  85%,
  100% {
    -webkit-transform: translateY(-12.375px);
            transform: translateY(-12.375px);
  }
}

@keyframes jump-2 {
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-41.25px);
            transform: translateY(-41.25px);
  }
  85%,
  100% {
    -webkit-transform: translateY(-12.375px);
            transform: translateY(-12.375px);
  }
}

@-webkit-keyframes jump-3 {
  10% {
    -webkit-transform: translateY(-4.125px) rotate(15deg);
            transform: translateY(-4.125px) rotate(15deg);
  }
  30% {
    -webkit-transform: translateY(-16.5px) rotate(-10deg);
            transform: translateY(-16.5px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateY(4.125px) rotate(5deg);
            transform: translateY(4.125px) rotate(5deg);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump-3 {
  10% {
    -webkit-transform: translateY(-4.125px) rotate(15deg);
            transform: translateY(-4.125px) rotate(15deg);
  }
  30% {
    -webkit-transform: translateY(-16.5px) rotate(-10deg);
            transform: translateY(-16.5px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateY(4.125px) rotate(5deg);
            transform: translateY(4.125px) rotate(5deg);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes glow {
  50% {
    -webkit-box-shadow: rgba(156, 156, 156, 0.4) 0 0 2px 2px;
            box-shadow: rgba(156, 156, 156, 0.4) 0 0 2px 2px;
  }
}

@keyframes glow {
  50% {
    -webkit-box-shadow: rgba(156, 156, 156, 0.4) 0 0 2px 2px;
            box-shadow: rgba(156, 156, 156, 0.4) 0 0 2px 2px;
  }
}

.header {
  border-bottom: 1px solid var(--main-gray-font);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 700;
  color: var(--main-gray-font);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.nav__link--current {
  color: var(--main-dark-font);
}

.nav__link:hover, .nav__link:focus {
  color: var(--main-dark-font);
}

.hero {
  padding-top: 65px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero .lang__box {
    display: none;
  }
}

.wrapper {
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .wrapper__box {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper__box .hero-title {
  margin-bottom: 23px;
  font-size: 47px;
  line-height: 1.234;
}

@media screen and (min-width: 768px) {
  .wrapper__box .hero-title {
    width: 130px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about {
  background-color: var(--main-bg-accent);
}

.about .section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about .section-title {
    margin-bottom: 20px;
  }
}

.about-box {
  margin-right: auto;
  margin-left: auto;
  width: 316px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-box {
    width: 500px;
  }
}

.about-box__desc + .about-box__desc {
  margin-top: 30px;
}

.skills .section-title {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .skills {
    margin-bottom: 70px;
  }
}

.skills__desc {
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .skills__desc {
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 479px) {
  .skills__item:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .skills__item {
    margin: 15px;
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .skills__item {
    width: 168px;
  }
}

.skills__icon {
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}

.skills__title {
  width: 90px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: var(--main-gray-font);
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__icon {
  width: 26px;
  height: 26px;
  fill: var(--stars);
}

.stars__icon--current {
  fill: var(--main-dark-font);
}

.portfolio {
  background-color: var(--main-bg-accent);
}

.portfolio .section-title {
  margin-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .portfolio .section-title {
    margin-bottom: 47px;
  }
}

.portfolio__item:not(:last-child) {
  margin-bottom: 78px;
}

@media screen and (min-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 100px;
  }
}

.portfolio__picture {
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .portfolio__picture {
    margin-bottom: 45px;
  }
}

.portfolio__link {
  color: var(--main-dark-font);
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .section-title {
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .footer .section-title {
    margin-bottom: 20px;
  }
}

.footer__desc {
  margin-bottom: 39px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__desc {
    margin-bottom: 29px;
  }
}

.footer__button {
  margin-bottom: 48px;
  padding: 13px 30px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer__button {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__button {
    margin-bottom: 86px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 310px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    width: 342px;
  }
}

.footer__icon {
  width: 40px;
  height: 40px;
}

.footer__text {
  text-align: center;
  color: var(--main-gray-font);
}

.mob-menu {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.mob-menu .lang__box {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.mob-menu.is-open {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (min-width: 769px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 65px 26px 26px;
  background-color: var(--main-bg-light);
}

.mob-menu__button {
  position: absolute;
  top: 65px;
  right: 5px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mob-menu__button {
    display: none;
  }
}

.mob-menu__icon-open {
  width: 33px;
  height: 20px;
}

.mob-menu__icon-close {
  width: 23px;
  height: 23px;
}

.mob-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob-menu__link {
  font-size: 34px;
  line-height: 1.235;
  color: var(--main-gray-font);
}

.mob-menu__link--current {
  color: var(--main-dark-font);
}
/*# sourceMappingURL=main.css.map */