.about {
  background-color: var(--main-bg-accent);

  .section-title {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.about-box {
  margin-right: auto;
  margin-left: auto;
  max-width: 316px;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
}

.about-box__desc + .about-box__desc {
  margin-top: 30px;
}
