:root {
  /* Fonts */
  --main-font: "Noto Sans", sans-serif;

  /* Colors */
  --main-bg-light: #ffffff;
  --main-bg-accent: #f6f6f6;
  --main-dark-font: #070707;
  --main-gray-font: #828282;
  --main-light-font: #ffffff;
}
